:root {
  --light-blueGreen: #c9e7ec;
  --gainsBorrow: #d8dbe2;
  --lightSteelBlue: #a9bcd0;
  --cadetBlue: #58a4b0;
  --charcoal: #373f51;
  --raisinBlack: #1b1b1e;

  --defaultButtonFont: 18px;
  --defaultBoxShadow: 2px 2px rgba(0, 0, 0, 0.2);
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Playfair Display SC', serif;
}
